{
  "openapi": "3.0.1",
  "info": {
    "title": "Production API",
    "description": "API exposing endpoints for managing well  and daily production.",
    "termsOfService": "http://swagger.io/terms/",
    "license": {
      "name": "Apache 2.0",
      "url": "http://springdoc.org"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://data-sandbox.onxecta.com",
      "description": "AWS Cloud API Endpoint"
    },
    {
      "url": "http://localhost",
      "description": "Local Testing API Endpoint"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Wellbore",
      "description": "Query or Mutate Wellbore Data",
      "externalDocs": {
        "url": "https://dash.readme.com/project/xecta/v2.0/docs/wellbore-header-schema"
      }
    },
    {
      "name": "Tubing",
      "description": "Query or mutation tubing data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/tubing-schema"
      }
    },
    {
      "name": "Well",
      "description": "Query or mutation well  data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/well-header-schema"
      }
    },
    {
      "name": "ESP",
      "description": "Query or Update esp Data"
    },
    {
      "name": "Formation Property",
      "description": "Query or Update formation property Data"
    },
    {
      "name": "GasLiftValve",
      "description": "Query or Update Gas Lift Valve Data"
    },
    {
      "name": "Deviation Survey",
      "description": "Query or mutation deviation survey data"
    },
    {
      "name": "SuckerRodPump",
      "description": "Query or mutation sucker rod pump data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/well-sucker-rod-pump"
      }
    },
    {
      "name": "Daily Production",
      "description": "Query or mutation daily production data"
    },
    {
      "name": "Casing",
      "description": "Query or mutation casing data"
    }
  ],
  "paths": {
    "/api/production/wells": {
      "get": {
        "tags": [
          "Well"
        ],
        "summary": "Get Multiple Wells",
        "description": "This operation offers an optional paging facility if desired.",
        "operationId": "getWells",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Well"
        ],
        "summary": "Bulk Add / Update Well Data",
        "operationId": "upsertWells",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WellInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/wellbore": {
      "post": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Bulk Add / Update Wellbore Data",
        "description": "This operation will add or update multiple wellbores using batching for efficiency",
        "operationId": "upsertWellbores",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WellboreInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/tubing": {
      "post": {
        "tags": [
          "Tubing"
        ],
        "summary": "Bulk Add / Update Tubing Data",
        "operationId": "upsertTubing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TubingInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/srp": {
      "post": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Bulk Add / Update SuckerRodPump Data",
        "operationId": "upsertSuckerRodPump",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SuckerRodPumpInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/glv": {
      "post": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Bulk Add / Update Esp Data",
        "operationId": "upsertEsp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GasLiftValveInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/formation": {
      "post": {
        "tags": [
          "Formation Property"
        ],
        "summary": "Bulk Add / Update Formation Property Data",
        "operationId": "upsertFormations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FormationInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/esp": {
      "post": {
        "tags": [
          "ESP"
        ],
        "summary": "Bulk Add / Update Esp Data",
        "operationId": "upsertEsp_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ESPInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/deviationSurvey": {
      "post": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Bulk Add / Update Deviation Survey Data",
        "operationId": "upsertDeviationSurveys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeviationSurveyInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/daily": {
      "post": {
        "tags": [
          "Daily Production"
        ],
        "summary": "Bulk Add / Update Daily Production Data",
        "operationId": "upsertDaily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DailyProductionInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/casing": {
      "post": {
        "tags": [
          "Casing"
        ],
        "summary": "Bulk Add / Update Casing Data",
        "operationId": "upsertCasing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CasingInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}/glv/{sourceId}": {
      "get": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Fetch a tubing record by source id",
        "operationId": "getEspBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GasLiftValve"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/GasLiftValve"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Delete gas lift valve records by source id",
        "operationId": "deleteGLVBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}/esp/{sourceId}": {
      "get": {
        "tags": [
          "ESP"
        ],
        "summary": "Fetch a esp record by source id",
        "operationId": "getEspBySource_1",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Esp"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Esp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ESP"
        ],
        "summary": "Delete esp records by source id",
        "operationId": "deleteEspBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}/esp": {
      "get": {
        "tags": [
          "ESP"
        ],
        "summary": "Fetch esp records by source wellbore id",
        "operationId": "getEspForSourceTubing",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ESP"
        ],
        "summary": "Delete esp records by well source id",
        "operationId": "deleteEspBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}": {
      "get": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Fetch esp records by source wellbore id",
        "operationId": "getGLVForSourceEsp",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceId}": {
      "get": {
        "tags": [
          "Tubing"
        ],
        "summary": "Fetch a tubing record by source id",
        "operationId": "getTubingBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tubing"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Tubing"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tubing"
        ],
        "summary": "Delete tubing records by source id",
        "operationId": "deleteTubingBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing": {
      "get": {
        "tags": [
          "Tubing"
        ],
        "summary": "Fetch tubing records by source wellbore id",
        "operationId": "getTubingForSourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tubing"
        ],
        "summary": "Delete tubing records by well source id",
        "operationId": "deleteTubingBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/srp/{sourceId}": {
      "get": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Fetch a sucker rod pump record by source id",
        "operationId": "getSuckerRodPumpBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuckerRodPump"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/SuckerRodPump"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Delete sucker rod pump records by source id",
        "operationId": "deleteSuckerRodPumpBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/srp": {
      "get": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Fetch sucker rod pump records by source wellbore id",
        "operationId": "getSuckerRodPumpForSourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Delete sucker rod pump records by well source id",
        "operationId": "deleteSuckerRodPumpBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/glv": {
      "get": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Fetch tubing records by source wellbore id",
        "operationId": "getEspForSourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Delete gas lift valve records by well source id",
        "operationId": "deleteGLVBySourceWellbore_1",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/formation": {
      "get": {
        "tags": [
          "Formation Property"
        ],
        "summary": "Fetch formation by wellbore ",
        "operationId": "getFormationsByWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Formation"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Formation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Formation Property"
        ],
        "summary": "Delete a single formation",
        "operationId": "deleteFormationBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/esp": {
      "get": {
        "tags": [
          "ESP"
        ],
        "summary": "Fetch esp records by source wellbore id",
        "operationId": "getEspForSourceWellbore_1",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ESP"
        ],
        "summary": "Delete esp records by well source id",
        "operationId": "deleteEspBySourceWellbore_1",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/deviationSurvey/{sourceId}": {
      "get": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Fetch a single deviation survey record by source id",
        "operationId": "getDeviationSurveyBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationSurvey"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationSurvey"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Delete a deviation survey by its source id",
        "operationId": "deleteDeviationSurveyBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/deviationSurvey": {
      "get": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Fetch deviation surveys by wellbore source id",
        "operationId": "getDeviationSurveyBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Delete deviation surveys by well source id",
        "operationId": "deleteDeviationSurveysBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/casing/{sourceId}": {
      "get": {
        "tags": [
          "Casing"
        ],
        "summary": "Get a casing record by source id",
        "operationId": "getCasingBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Casing"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Casing"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Casing"
        ],
        "summary": "Delete casing records by source id",
        "operationId": "deleteCasingBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/casing": {
      "get": {
        "tags": [
          "Casing"
        ],
        "summary": "Fetch casing records by source wellbore id",
        "operationId": "getCasingBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Casing"
        ],
        "summary": "Delete casing records by well source id",
        "operationId": "deleteCasingBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}": {
      "get": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Get wellbores by wellbore source id",
        "operationId": "getWellborBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wellbore"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Wellbore"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Delete a single wellbore",
        "description": "This operation will delete a single wellbore by its uwi and wellbore index. \n            This operation will also cascade delete all dependent wellbore entities that have been added\n            to the system.\n            ",
        "operationId": "deleteWellboreBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore": {
      "get": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Get wellbores by well source id",
        "operationId": "getWellboresBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Delete a single wellbore",
        "operationId": "deleteWellboreBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/tubing": {
      "get": {
        "tags": [
          "Tubing"
        ],
        "summary": "Fetch tubing records by source well id",
        "operationId": "getTubingForSourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tubing"
        ],
        "summary": "Delete tubing records by well source id",
        "operationId": "deleteTubingBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/srp": {
      "get": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Fetch sucker rod pump records by source well id",
        "operationId": "getSuckerRodPumpForSourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Delete sucker rod pump records by well source id",
        "operationId": "deleteSuckerRodPumpBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/glv": {
      "get": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Fetch gas lift valve records by source well id",
        "operationId": "getESPsForWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Delete tubing records by well source id",
        "operationId": "deleteGasLiftValveBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/formation": {
      "get": {
        "tags": [
          "Formation Property"
        ],
        "summary": "Fetch formations by well ",
        "operationId": "getFormationsByWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Formation Property"
        ],
        "summary": "Delete all formations for a given well regardless of wellbore",
        "operationId": "deleteFormationsBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/esp": {
      "get": {
        "tags": [
          "ESP"
        ],
        "summary": "Fetch tubing records by source well id",
        "operationId": "getESPsForWell_1",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ESP"
        ],
        "summary": "Delete esp records by well source id",
        "operationId": "deleteEspBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/deviationSurvey": {
      "get": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Fetch deviation surveys by well source i",
        "operationId": "getDeviationSurveyBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Delete casing records by well source id",
        "operationId": "deleteDeviationSurveysBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/casing": {
      "get": {
        "tags": [
          "Casing"
        ],
        "summary": "Fetch casing records by source well id",
        "operationId": "getCasingBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Casing"
        ],
        "summary": "Delete casing records by well source id",
        "operationId": "deleteCasingBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceId}": {
      "get": {
        "tags": [
          "Well"
        ],
        "summary": "Retrieve a single well by its source id",
        "operationId": "getWellBySource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Well"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Well"
        ],
        "summary": "Delete Single Well ",
        "operationId": "deleteWellBySource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/daily/{uwi}": {
      "get": {
        "tags": [
          "Daily Production"
        ],
        "summary": "Fetch Daily Production Records",
        "operationId": "getDaily",
        "parameters": [
          {
            "name": "uwi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Daily Production"
        ],
        "summary": "Delete Daily Production",
        "operationId": "deleteDaily",
        "parameters": [
          {
            "name": "uwi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}/glv": {
      "delete": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Delete gas lift valve records by well source id",
        "operationId": "deleteGLVBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WellInput": {
        "required": [
          "fluid",
          "lat",
          "liftType",
          "lon",
          "name",
          "sourceId",
          "type",
          "uwi"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "uwi": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "group1": {
            "type": "string",
            "nullable": true
          },
          "group2": {
            "type": "string",
            "nullable": true
          },
          "group3": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "default": "PRODUCER",
            "enum": [
              "PRODUCER",
              "INJECTOR"
            ]
          },
          "fluid": {
            "type": "string",
            "default": "OIL",
            "enum": [
              "OIL",
              "GAS",
              "WATER"
            ]
          },
          "liftType": {
            "type": "string",
            "default": "NATURAL_FLOW",
            "enum": [
              "NATURAL_FLOW",
              "GAS_LIFT",
              "ROD_PUMP",
              "ESP",
              "PLUNGER_LIFT",
              "GAS_ASSISTED_PLUNGER_LIFT"
            ]
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lon": {
            "type": "number",
            "format": "double"
          },
          "mudLine": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "LocalTime": {
        "type": "object",
        "properties": {
          "hour": {
            "type": "integer",
            "format": "int32"
          },
          "minute": {
            "type": "integer",
            "format": "int32"
          },
          "second": {
            "type": "integer",
            "format": "int32"
          },
          "nano": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Well": {
        "required": [
          "fluid",
          "lat",
          "liftType",
          "lon",
          "name",
          "sourceId",
          "timezone",
          "type",
          "uwi",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "uwi": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "group1": {
            "type": "string",
            "nullable": true
          },
          "group2": {
            "type": "string",
            "nullable": true
          },
          "group3": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "default": "PRODUCER",
            "enum": [
              "PRODUCER",
              "INJECTOR"
            ]
          },
          "fluid": {
            "type": "string",
            "default": "OIL",
            "enum": [
              "OIL",
              "GAS",
              "WATER"
            ]
          },
          "liftType": {
            "type": "string",
            "default": "NATURAL_FLOW",
            "enum": [
              "NATURAL_FLOW",
              "GAS_LIFT",
              "ROD_PUMP",
              "ESP",
              "PLUNGER_LIFT",
              "GAS_ASSISTED_PLUNGER_LIFT"
            ]
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lon": {
            "type": "number",
            "format": "double"
          },
          "mudLine": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "timezone": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "rules": {
                "type": "object",
                "properties": {
                  "fixedOffset": {
                    "type": "boolean"
                  },
                  "transitions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "offsetBefore": {
                          "type": "object",
                          "properties": {
                            "totalSeconds": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "offsetAfter": {
                          "type": "object",
                          "properties": {
                            "totalSeconds": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "instant": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "overlap": {
                          "type": "boolean"
                        },
                        "duration": {
                          "type": "object",
                          "properties": {
                            "seconds": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "zero": {
                              "type": "boolean"
                            },
                            "nano": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "negative": {
                              "type": "boolean"
                            },
                            "positive": {
                              "type": "boolean"
                            },
                            "units": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "durationEstimated": {
                                    "type": "boolean"
                                  },
                                  "timeBased": {
                                    "type": "boolean"
                                  },
                                  "dateBased": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "gap": {
                          "type": "boolean"
                        },
                        "dateTimeAfter": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "dateTimeBefore": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "transitionRules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "month": {
                          "type": "string",
                          "enum": [
                            "JANUARY",
                            "FEBRUARY",
                            "MARCH",
                            "APRIL",
                            "MAY",
                            "JUNE",
                            "JULY",
                            "AUGUST",
                            "SEPTEMBER",
                            "OCTOBER",
                            "NOVEMBER",
                            "DECEMBER"
                          ]
                        },
                        "timeDefinition": {
                          "type": "string",
                          "enum": [
                            "UTC",
                            "WALL",
                            "STANDARD"
                          ]
                        },
                        "standardOffset": {
                          "type": "object",
                          "properties": {
                            "totalSeconds": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "offsetBefore": {
                          "type": "object",
                          "properties": {
                            "totalSeconds": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "offsetAfter": {
                          "type": "object",
                          "properties": {
                            "totalSeconds": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "dayOfWeek": {
                          "type": "string",
                          "enum": [
                            "MONDAY",
                            "TUESDAY",
                            "WEDNESDAY",
                            "THURSDAY",
                            "FRIDAY",
                            "SATURDAY",
                            "SUNDAY"
                          ]
                        },
                        "dayOfMonthIndicator": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "localTime": {
                          "$ref": "#/components/schemas/LocalTime"
                        },
                        "midnightEndOfDay": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            },
            "nullable": true
          }
        }
      },
      "WellboreInput": {
        "required": [
          "sourceId",
          "sourceWellId"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "sourceWellId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "junctionMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "Wellbore": {
        "required": [
          "sourceId",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "junctionMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "TubingInput": {
        "required": [
          "bottomMd",
          "id",
          "od",
          "sourceId",
          "sourceWellId",
          "sourceWellboreId"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "sourceWellboreId": {
            "type": "string"
          },
          "sourceWellId": {
            "type": "string"
          },
          "topMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bottomMd": {
            "type": "number",
            "format": "double"
          },
          "id": {
            "type": "number",
            "format": "double"
          },
          "od": {
            "type": "number",
            "format": "double"
          },
          "roughness": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "runDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pullDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Tubing": {
        "required": [
          "bottomMd",
          "id",
          "od",
          "sourceId",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "topMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bottomMd": {
            "type": "number",
            "format": "double"
          },
          "id": {
            "type": "number",
            "format": "double"
          },
          "od": {
            "type": "number",
            "format": "double"
          },
          "roughness": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "runDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pullDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "SuckerRodPumpInput": {
        "required": [
          "installMd",
          "plungerClearance",
          "plungerDIA",
          "rodNumber",
          "sourceId",
          "sourceWellId",
          "sourceWellboreId",
          "surfaceStrokeLength"
        ],
        "type": "object",
        "properties": {
          "sourceWellId": {
            "type": "string"
          },
          "sourceWellboreId": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "installDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "surfaceStrokeLength": {
            "type": "number",
            "format": "double"
          },
          "installMd": {
            "type": "number",
            "format": "double"
          },
          "plungerDIA": {
            "type": "number",
            "format": "double"
          },
          "plungerLength": {
            "type": "number",
            "format": "double"
          },
          "plungerClearance": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "rodNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SuckerRodPump": {
        "required": [
          "installMd",
          "plungerDIA",
          "rodNumber",
          "sourceId",
          "surfaceStrokeLength",
          "wellboreXid",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "wellboreXid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "installDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "surfaceStrokeLength": {
            "type": "number",
            "format": "double"
          },
          "installMd": {
            "type": "number",
            "format": "double"
          },
          "plungerDIA": {
            "type": "number",
            "format": "double"
          },
          "plungerLength": {
            "type": "number",
            "format": "double"
          },
          "plungerClearance": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "rodNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GasLiftValveInput": {
        "required": [
          "glvStation",
          "installMd",
          "portSize",
          "pullDate",
          "runDate",
          "sourceId",
          "sourceMandrelId",
          "sourceTubingId",
          "sourceWellId",
          "sourceWellboreId",
          "surfaceClosePressure",
          "surfaceOpenPressure",
          "testRackOpenPressure"
        ],
        "type": "object",
        "properties": {
          "sourceWellId": {
            "type": "string"
          },
          "sourceWellboreId": {
            "type": "string"
          },
          "sourceTubingId": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "sourceMandrelId": {
            "type": "string"
          },
          "runDate": {
            "type": "string",
            "format": "date-time"
          },
          "pullDate": {
            "type": "string",
            "format": "date-time"
          },
          "glvStation": {
            "type": "integer",
            "format": "int32"
          },
          "installMd": {
            "type": "number",
            "format": "double"
          },
          "testRackOpenPressure": {
            "type": "number",
            "format": "double"
          },
          "surfaceOpenPressure": {
            "type": "number",
            "format": "double"
          },
          "surfaceClosePressure": {
            "type": "number",
            "format": "double"
          },
          "portSize": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "GasLiftValve": {
        "required": [
          "glvStation",
          "installMd",
          "portSize",
          "pullDate",
          "runDate",
          "sourceId",
          "sourceMandrelId",
          "surfaceClosePressure",
          "surfaceOpenPressure",
          "testRackOpenPressure",
          "tubingXid",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "tubingXid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "sourceMandrelId": {
            "type": "string"
          },
          "runDate": {
            "type": "string",
            "format": "date-time"
          },
          "pullDate": {
            "type": "string",
            "format": "date-time"
          },
          "glvStation": {
            "type": "integer",
            "format": "int32"
          },
          "installMd": {
            "type": "number",
            "format": "double"
          },
          "testRackOpenPressure": {
            "type": "number",
            "format": "double"
          },
          "surfaceOpenPressure": {
            "type": "number",
            "format": "double"
          },
          "surfaceClosePressure": {
            "type": "number",
            "format": "double"
          },
          "portSize": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "FormationInput": {
        "required": [
          "depth",
          "fluidGravityApi",
          "fluidGravityGas",
          "fluidSalinityWater",
          "name",
          "pressureFormationInitialDatum",
          "primaryFluidType",
          "rsi",
          "sourceWellId",
          "sourceWellboreId",
          "temperatureFormationDatum"
        ],
        "type": "object",
        "properties": {
          "sourceWellId": {
            "type": "string"
          },
          "sourceWellboreId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "allocationFactor": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 1.0
          },
          "compressibilityRock": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "pressureFormationInitialDatum": {
            "type": "number",
            "format": "double"
          },
          "temperatureFormationDatum": {
            "type": "number",
            "format": "double"
          },
          "depth": {
            "type": "number",
            "format": "double"
          },
          "thicknessFormation": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "porosity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "saturationWaterInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "saturationGasInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "saturationOilInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "primaryFluidType": {
            "type": "string",
            "default": "OIL",
            "enum": [
              "OIL",
              "GAS",
              "WATER"
            ]
          },
          "rsi": {
            "type": "number",
            "format": "double"
          },
          "volumeAcquiferInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "fluidGravityApi": {
            "type": "number",
            "format": "double"
          },
          "fluidGravityGas": {
            "type": "number",
            "format": "double"
          },
          "fluidSalinityWater": {
            "type": "number",
            "format": "double"
          },
          "fluidComingledGOR": {
            "type": "number",
[...]
