{
  "openapi": "3.0.1",
  "info": {
    "title": "Production API",
    "description": "API exposing endpoints for managing well  and daily production.",
    "termsOfService": "http://swagger.io/terms/",
    "license": {
      "name": "Apache 2.0",
      "url": "http://springdoc.org"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://data-sandbox.onxecta.com",
      "description": "AWS Cloud API Endpoint"
    },
    {
      "url": "http://localhost",
      "description": "Local Testing API Endpoint"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Wellbore",
      "description": "Query or Mutate Wellbore Data",
      "externalDocs": {
        "url": "https://dash.readme.com/project/xecta/v2.0/docs/wellbore-header-schema"
      }
    },
    {
      "name": "Tubing",
      "description": "Query or mutation tubing data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/tubing-schema"
      }
    },
    {
      "name": "Well",
      "description": "Query or mutation well  data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/well-header-schema"
      }
    },
    {
      "name": "Formation Property",
      "description": "Query or Update formation property Data"
    },
    {
      "name": "Deviation Survey",
      "description": "Query or mutation deviation survey data"
    },
    {
      "name": "Casing",
      "description": "Query or mutation casing data"
    },
    {
      "name": "Daily Production",
      "description": "Query or mutation daily production data"
    }
  ],
  "paths": {
    "/api/production/wells": {
      "get": {
        "tags": [
          "Well"
        ],
        "summary": "Get Multiple Wells",
        "description": "This operation offers an optional paging facility if desired.",
        "operationId": "getWells",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Well"
        ],
        "summary": "Bulk Add / Update Well Data",
        "operationId": "upsertWells",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WellInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/wellbore": {
      "post": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Bulk Add / Update Wellbore Data",
        "description": "This operation will add or update multiple wellbores using batching for efficiency",
        "operationId": "upsertWellbores",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WellboreInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/tubing": {
      "post": {
        "tags": [
          "Tubing"
        ],
        "summary": "Bulk Add / Update Tubing Data",
        "operationId": "upsertTubing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TubingInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/formation": {
      "post": {
        "tags": [
          "Formation Property"
        ],
        "summary": "Bulk Add / Update Formation Property Data",
        "operationId": "upsertFormations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FormationInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/deviationSurvey": {
      "post": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Bulk Add / Update Deviation Survey Data",
        "operationId": "upsertSurveys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeviationSurveyInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/daily": {
      "post": {
        "tags": [
          "Daily Production"
        ],
        "summary": "Bulk Add / Update Daily Production Data",
        "operationId": "upsertDaily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DailyProductionInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/casing": {
      "post": {
        "tags": [
          "Casing"
        ],
        "summary": "Bulk Add / Update Casing Data",
        "operationId": "upsertCasing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CasingInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/wellbore/{sourceWellboreId}/formation": {
      "get": {
        "tags": [
          "Formation Property"
        ],
        "summary": "Fetch formation by wellbore ",
        "operationId": "getFormationsByWellbore",
        "parameters": [
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Formation"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Formation"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/wellbore/{sourceWellboreId}/deviationSurveys": {
      "get": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Fetch deviation surveys by welbore source id",
        "operationId": "getDeviationSurveysByWellbore",
        "parameters": [
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/wellbore/{sourceWellboreId}/casing": {
      "get": {
        "tags": [
          "Casing"
        ],
        "summary": "Fetch casing records by source wellbore id",
        "operationId": "getCasingBySourceWellboreId",
        "parameters": [
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/wellbore/{sourceId}": {
      "get": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Get wellbores by wellbore source id",
        "operationId": "getWellboreBySource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Delete a single wellbore",
        "description": "This operation will delete a single wellbore by its uwi and wellbore index. \n            This operation will also cascade delete all dependent wellbore entities that have been added\n            to the system.\n            ",
        "operationId": "deleteWellbore",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore": {
      "get": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Get wellbores by well source id",
        "operationId": "getWellboresByWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/tubing": {
      "get": {
        "tags": [
          "Tubing"
        ],
        "summary": "Fetch tubing records by source well id",
        "operationId": "getTubingForWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/casing": {
      "get": {
        "tags": [
          "Casing"
        ],
        "summary": "Fetch casing records by source well id",
        "operationId": "getCasingForWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceId}": {
      "get": {
        "tags": [
          "Well"
        ],
        "summary": "Retrieve a single well by its source id",
        "operationId": "getWell",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Well"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Well"
        ],
        "summary": "Delete Single Well ",
        "operationId": "deleteWell",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/tubing/{sourceId}": {
      "get": {
        "tags": [
          "Tubing"
        ],
        "summary": "Fetch tubing records by source well id",
        "operationId": "getTubingBySourceId",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tubing"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Tubing"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tubing"
        ],
        "summary": "Bulk Add / Update Tubing Data by Well and Wellbore",
        "operationId": "deleteTubing",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/deviationSurvey/{sourceId}": {
      "get": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Fetch deviation survey record by source id",
        "operationId": "getDeviationSurveyBySourceId",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationSurvey"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationSurvey"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Delete a single survey ",
        "operationId": "deleteSurvey",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/daily/{uwi}": {
      "get": {
        "tags": [
          "Daily Production"
        ],
        "summary": "Fetch Daily Production Records",
        "operationId": "getDaily",
        "parameters": [
          {
            "name": "uwi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Daily Production"
        ],
        "summary": "Delete Daily Production",
        "operationId": "deleteDaily",
        "parameters": [
          {
            "name": "uwi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/casing/{sourceId}": {
      "get": {
        "tags": [
          "Casing"
        ],
        "summary": "Fetch casing records by source well id",
        "operationId": "getCasingBySourceId",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Casing"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Casing"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Casing"
        ],
        "summary": "Bulk Add / Update Casing Data",
        "operationId": "deleteCasing",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/formation/{sourceWellboreId}": {
      "delete": {
        "tags": [
          "Formation Property"
        ],
        "summary": "Delete a single formation",
        "operationId": "deleteFormation",
        "parameters": [
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WellInput": {
        "required": [
          "fluid",
          "lat",
          "liftType",
          "lon",
          "name",
          "sourceId",
          "type",
          "uwi"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "uwi": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "group1": {
            "type": "string",
            "nullable": true
          },
          "group2": {
            "type": "string",
            "nullable": true
          },
          "group3": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "default": "PRODUCER",
            "enum": [
              "PRODUCER",
              "INJECTOR"
            ]
          },
          "fluid": {
            "type": "string",
            "default": "OIL",
            "enum": [
              "OIL",
              "GAS",
              "WATER"
            ]
          },
          "liftType": {
            "type": "string",
            "default": "NATURAL_FLOW",
            "enum": [
              "NATURAL_FLOW",
              "GAS_LIFT",
              "ROD_PUMP",
              "ESP",
              "PLUNGER_LIFT",
              "GAS_ASSISTED_PLUNGER_LIFT"
            ]
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lon": {
            "type": "number",
            "format": "double"
          },
          "mudLine": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "Well": {
        "required": [
          "fluid",
          "lat",
          "liftType",
          "lon",
          "name",
          "sourceId",
          "type",
          "uwi",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "uwi": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "group1": {
            "type": "string",
            "nullable": true
          },
          "group2": {
            "type": "string",
            "nullable": true
          },
          "group3": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "default": "PRODUCER",
            "enum": [
              "PRODUCER",
              "INJECTOR"
            ]
          },
          "fluid": {
            "type": "string",
            "default": "OIL",
            "enum": [
              "OIL",
              "GAS",
              "WATER"
            ]
          },
          "liftType": {
            "type": "string",
            "default": "NATURAL_FLOW",
            "enum": [
              "NATURAL_FLOW",
              "GAS_LIFT",
              "ROD_PUMP",
              "ESP",
              "PLUNGER_LIFT",
              "GAS_ASSISTED_PLUNGER_LIFT"
            ]
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lon": {
            "type": "number",
            "format": "double"
          },
          "mudLine": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "WellboreInput": {
        "required": [
          "sourceId",
          "sourceWellId"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "sourceWellId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "junctionMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "Wellbore": {
        "required": [
          "sourceId",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "junctionMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "TubingInput": {
        "required": [
          "bottomMd",
          "id",
          "od",
          "sourceId",
          "sourceWellId",
          "sourceWellboreId"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "sourceWellboreId": {
            "type": "string"
          },
          "sourceWellId": {
            "type": "string"
          },
          "topMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bottomMd": {
            "type": "number",
            "format": "double"
          },
          "id": {
            "type": "number",
            "format": "double"
          },
          "od": {
            "type": "number",
            "format": "double"
          },
          "roughness": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "runDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pullDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Tubing": {
        "required": [
          "bottomMd",
          "id",
          "od",
          "sourceId",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "topMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bottomMd": {
            "type": "number",
            "format": "double"
          },
          "id": {
            "type": "number",
            "format": "double"
          },
          "od": {
            "type": "number",
            "format": "double"
          },
          "roughness": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "runDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pullDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FormationInput": {
        "required": [
          "depth",
          "fluidGravityApi",
          "fluidGravityGas",
          "fluidSalinityWater",
          "name",
          "pressureFormationInitialDatum",
          "primaryFluidType",
          "rsi",
          "sourceWellboreId",
          "temperatureFormationDatum"
        ],
        "type": "object",
        "properties": {
          "sourceWellboreId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "allocationFactor": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 1.0
          },
          "compressibilityRock": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "pressureFormationInitialDatum": {
            "type": "number",
            "format": "double"
          },
          "temperatureFormationDatum": {
            "type": "number",
            "format": "double"
          },
          "depth": {
            "type": "number",
            "format": "double"
          },
          "thicknessFormation": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "porosity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "saturationWaterInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "saturationGasInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "saturationOilInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "primaryFluidType": {
            "type": "string",
            "default": "OIL",
            "enum": [
              "OIL",
              "GAS",
              "WATER"
            ]
          },
          "rsi": {
            "type": "number",
            "format": "double"
          },
          "volumeAcquiferInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "fluidGravityApi": {
            "type": "number",
            "format": "double"
          },
          "fluidGravityGas": {
            "type": "number",
            "format": "double"
          },
          "fluidSalinityWater": {
            "type": "number",
            "format": "double"
          },
          "fluidComingledGOR": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "fluidMolarFracN2": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 0.0
          },
          "fluidMolarFracCO2": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 0.0
          },
          "fluidMolarFracH2S": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 0.0
          }
        }
      },
      "Formation": {
        "required": [
          "depth",
          "fluidGravityApi",
          "fluidGravityGas",
          "fluidSalinityWater",
          "name",
          "pressureFormationInitialDatum",
          "primaryFluidType",
          "rsi",
          "temperatureFormationDatum",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "allocationFactor": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 1.0
          },
          "compressibilityRock": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "pressureFormationInitialDatum": {
            "type": "number",
            "format": "double"
          },
          "temperatureFormationDatum": {
            "type": "number",
            "format": "double"
          },
          "depth": {
            "type": "number",
            "format": "double"
          },
          "thicknessFormation": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "porosity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "saturationWaterInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "saturationGasInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "saturationOilInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "primaryFluidType": {
            "type": "string",
            "default": "OIL",
            "enum": [
              "OIL",
              "GAS",
              "WATER"
            ]
          },
          "rsi": {
            "type": "number",
            "format": "double"
          },
          "volumeAcquiferInitial": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "fluidGravityApi": {
            "type": "number",
            "format": "double"
          },
          "fluidGravityGas": {
            "type": "number",
            "format": "double"
          },
          "fluidSalinityWater": {
            "type": "number",
            "format": "double"
          },
          "fluidComingledGOR": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "fluidMolarFracN2": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 0.0
          },
          "fluidMolarFracCO2": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 0.0
          },
          "fluidMolarFracH2S": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 0.0
          }
        }
      },
      "DeviationSurveyInput": {
        "required": [
          "md",
          "sourceId",
          "sourceWellId",
          "sourceWellboreId",
          "tvd"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "sourceWellboreId": {
            "type": "string"
          },
          "sourceWellId": {
            "type": "string"
          },
          "md": {
            "type": "number",
            "format": "double"
          },
          "tvd": {
            "type": "number",
            "format": "double"
          },
          "inc": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "azi": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "DeviationSurvey": {
        "required": [
          "md",
          "sourceId",
          "tvd",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "md": {
            "type": "number",
            "format": "double"
          },
          "tvd": {
            "type": "number",
            "format": "double"
          },
          "inc": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "azi": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "DailyProductionInput": {
        "required": [
          "casingPressure",
          "date",
          "gasRate",
          "oilRate",
          "tubingPressure",
          "uwi",
          "waterRate"
        ],
        "type": "object",
        "properties": {
          "uwi": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "oilRate": {
            "type": "number",
            "format": "double"
          },
          "gasRate": {
            "type": "number",
            "format": "double"
          },
          "waterRate": {
            "type": "number",
            "format": "double"
          },
          "tubingPressure": {
            "type": "number",
            "format": "double"
          },
          "choke": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "gaugePressure": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "wellheadTemperature": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "gaugeTemperature": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "casingPressure": {
            "type": "number",
            "format": "double"
          },
          "gasLiftInjectionRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espFrequency": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espIntakePressure": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espAmps": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espVolts": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espDischargePressure": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espMotorTemperature": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espVibration": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "srpStrokesPerMin": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "downtimeHours": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "default": 0.0
          },
          "downtimeCode": {
            "type": "string",
            "nullable": true
          },
          "waterInjectionRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "gasInjectionRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "DailyProduction": {
        "required": [
          "casingPressure",
          "date",
          "gasRate",
          "oilRate",
          "tubingPressure",
          "waterRate",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "oilRate": {
            "type": "number",
            "format": "double"
          },
          "gasRate": {
            "type": "number",
            "format": "double"
          },
          "waterRate": {
            "type": "number",
            "format": "double"
          },
          "tubingPressure": {
            "type": "number",
            "format": "double"
          },
          "choke": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "gaugePressure": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "wellheadTemperature": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "gaugeTemperature": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "casingPressure": {
            "type": "number",
            "format": "double"
          },
          "gasLiftInjectionRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espFrequency": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espIntakePressure": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espAmps": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espVolts": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espDischargePressure": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espMotorTemperature": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "espVibration": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "srpStrokesPerMin": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "downtimeHours": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "downtimeCode": {
            "type": "string",
            "nullable": true
          },
          "waterInjectionRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "gasInjectionRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "CasingInput": {
        "required": [
          "bottomMd",
          "id",
          "od",
          "sourceId",
          "sourceWellId",
          "sourceWellboreId"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "sourceWellboreId": {
            "type": "string"
          },
          "sourceWellId": {
            "type": "string"
          },
          "topMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bottomMd": {
            "type": "number",
            "format": "double"
          },
          "id": {
            "type": "number",
            "format": "double"
          },
          "od": {
            "type": "number",
            "format": "double"
          },
          "roughness": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "runDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Casing": {
        "required": [
          "bottomMd",
          "id",
          "od",
          "sourceId",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "topMd": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "bottomMd": {
            "type": "number",
            "format": "double"
          },
          "id": {
            "type": "number",
            "format": "double"
          },
          "od": {
            "type": "number",
            "format": "double"
          },
          "roughness": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "runDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": false
  }
}
