{
  "openapi": "3.0.1",
  "info": {
    "title": "Production API",
    "description": "API exposing endpoints for managing well  and daily production.",
    "termsOfService": "http://swagger.io/terms/",
    "license": {
      "name": "Apache 2.0",
      "url": "http://springdoc.org"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://data.onxecta.com",
      "description": "AWS Cloud API Endpoint"
    },
    {
      "url": "http://localhost",
      "description": "Local Testing API Endpoint"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "TimeSeriesConfiguration",
      "description": "Query or mutate time series configuration data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/timeseries-tags"
      }
    },
    {
      "name": "Tubing",
      "description": "Query or mutation tubing data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/tubing-schema"
      }
    },
    {
      "name": "TimeSeriesHistory",
      "description": "Query or mutate time series data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/well-sucker-rod-pump"
      }
    },
    {
      "name": "GasLiftValve",
      "description": "Query or Update Gas Lift Valve Data"
    },
    {
      "name": "Deviation Survey",
      "description": "Query or mutation deviation survey data"
    },
    {
      "name": "SuckerRodPump",
      "description": "Query or mutation sucker rod pump data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/well-sucker-rod-pump"
      }
    },
    {
      "name": "Daily Production",
      "description": "Query or mutation daily production data"
    },
    {
      "name": "Casing",
      "description": "Query or mutation casing data"
    },
    {
      "name": "Wellbore",
      "description": "Query or Mutate Wellbore Data",
      "externalDocs": {
        "url": "https://dash.readme.com/project/xecta/v2.0/docs/wellbore-header-schema"
      }
    },
    {
      "name": "Allocation",
      "description": "Query or mutate allocation data"
    },
    {
      "name": "Formation",
      "description": "Query or Update formation Data"
    },
    {
      "name": "DownHole Equipment",
      "description": "Query or update equipment Data"
    },
    {
      "name": "Well",
      "description": "Query or mutation well  data",
      "externalDocs": {
        "url": "https://docs.onxecta.com/docs/well-header-schema"
      }
    },
    {
      "name": "ESP",
      "description": "Query or Update esp Data"
    }
  ],
  "paths": {
    "/api/production/wells": {
      "get": {
        "tags": [
          "Well"
        ],
        "summary": "Get Multiple Wells",
        "description": "This operation offers an optional paging facility if desired.",
        "operationId": "getWells",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Well"
        ],
        "summary": "Bulk Add / Update Well Data",
        "operationId": "upsertWells",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WellInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Well"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/wellbore": {
      "post": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Bulk Add / Update Wellbore Data",
        "description": "This operation will add or update multiple wellbores using batching for efficiency",
        "operationId": "upsertWellbores",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WellboreInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/tubing": {
      "post": {
        "tags": [
          "Tubing"
        ],
        "summary": "Bulk Add / Update Tubing Data",
        "operationId": "upsertTubing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TubingInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/tsconfig": {
      "post": {
        "tags": [
          "TimeSeriesConfiguration"
        ],
        "summary": "Bulk Add / Update Time Series Configuration Data",
        "description": "This operation will add or update multiple time series configuration entities using batching for efficiency",
        "operationId": "upsertTimeSeriesConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TimeSeriesInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSeries"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSeries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/ts": {
      "post": {
        "tags": [
          "TimeSeriesHistory"
        ],
        "summary": "Bulk Add / Update Time Series Data",
        "description": "This operation will add or update multiple time series records using batching for efficiency",
        "operationId": "upsertTimeSeriesHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TimeSeriesHistoryInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/srp": {
      "post": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Bulk Add / Update SuckerRodPump Data",
        "operationId": "upsertSuckerRodPump",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SuckerRodPumpInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/glv": {
      "post": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Bulk Add / Update GLV Data",
        "operationId": "upsertGLV",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GasLiftValveInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/formation": {
      "post": {
        "tags": [
          "Formation"
        ],
        "summary": "Bulk Add / Update Formation Property Data",
        "operationId": "upsertFormations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FormationInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/esp": {
      "post": {
        "tags": [
          "ESP"
        ],
        "summary": "Bulk Add / Update Esp Data",
        "operationId": "upsertEsp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ESPInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/equipment": {
      "post": {
        "tags": [
          "DownHole Equipment"
        ],
        "summary": "Bulk Add / Update Formation Property Data",
        "operationId": "upsertEquipment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DownHoleEquipmentInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DownHoleEquipmentEntity"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DownHoleEquipmentEntity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/deviationSurvey": {
      "post": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Bulk Add / Update Deviation Survey Data",
        "operationId": "upsertDeviationSurveys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeviationSurveyInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/daily": {
      "post": {
        "tags": [
          "Daily Production"
        ],
        "summary": "Bulk Add / Update Daily Production Data",
        "operationId": "upsertDaily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DailyProductionInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/casing": {
      "post": {
        "tags": [
          "Casing"
        ],
        "summary": "Bulk Add / Update Casing Data",
        "operationId": "upsertCasing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CasingInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/allocation": {
      "post": {
        "tags": [
          "Allocation"
        ],
        "summary": "Bulk Add / Update Allocation Data",
        "operationId": "upsertAllocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AllocationInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}/glv/{sourceId}": {
      "get": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Fetch a tubing record by source id",
        "operationId": "getGLVBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GasLiftValve"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/GasLiftValve"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Delete gas lift valve records by source id",
        "operationId": "deleteGLVBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}/esp/{sourceId}": {
      "get": {
        "tags": [
          "ESP"
        ],
        "summary": "Fetch a esp record by source id",
        "operationId": "getEspBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Esp"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Esp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ESP"
        ],
        "summary": "Delete esp records by source id",
        "operationId": "deleteEspBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}/esp": {
      "get": {
        "tags": [
          "ESP"
        ],
        "summary": "Fetch esp records by source wellbore id",
        "operationId": "getEspForSourceTubing",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ESP"
        ],
        "summary": "Delete esp records by well source id",
        "operationId": "deleteEspBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}": {
      "get": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Fetch GLV records by source wellbore id",
        "operationId": "getGLVForSourceGLV",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceId}": {
      "get": {
        "tags": [
          "Tubing"
        ],
        "summary": "Fetch a tubing record by source id",
        "operationId": "getTubingBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tubing"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Tubing"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tubing"
        ],
        "summary": "Delete tubing records by source id",
        "operationId": "deleteTubingBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing": {
      "get": {
        "tags": [
          "Tubing"
        ],
        "summary": "Fetch tubing records by source wellbore id",
        "operationId": "getTubingForSourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tubing"
        ],
        "summary": "Delete tubing records by well source id",
        "operationId": "deleteTubingBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/srp/{sourceId}": {
      "get": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Fetch a sucker rod pump record by source id",
        "operationId": "getSuckerRodPumpBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuckerRodPump"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/SuckerRodPump"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Delete sucker rod pump records by source id",
        "operationId": "deleteSuckerRodPumpBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/srp": {
      "get": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Fetch sucker rod pump records by source wellbore id",
        "operationId": "getSuckerRodPumpForSourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Delete sucker rod pump records by well source id",
        "operationId": "deleteSuckerRodPumpBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/glv": {
      "get": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Fetch tubing records by source wellbore id",
        "operationId": "getGLVForSourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Delete gas lift valve records by well source id",
        "operationId": "deleteGLVBySourceWellbore_1",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/formation": {
      "get": {
        "tags": [
          "Formation"
        ],
        "summary": "Fetch formation by wellbore ",
        "operationId": "getFormationsByWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Formation"
        ],
        "summary": "Delete a single formation",
        "operationId": "deleteFormationBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/esp": {
      "get": {
        "tags": [
          "ESP"
        ],
        "summary": "Fetch esp records by source wellbore id",
        "operationId": "getEspForSourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ESP"
        ],
        "summary": "Delete esp records by well source id",
        "operationId": "deleteEspBySourceWellbore_1",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/equipment/{sourceId}": {
      "get": {
        "tags": [
          "DownHole Equipment"
        ],
        "summary": "Fetch a equipment record by source id",
        "operationId": "getEquipmentBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownHoleEquipmentEntity"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/DownHoleEquipmentEntity"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DownHole Equipment"
        ],
        "summary": "Delete equipment records by source id",
        "operationId": "deleteEquipmentBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/equipment": {
      "get": {
        "tags": [
          "DownHole Equipment"
        ],
        "summary": "Fetch equipment by wellbore ",
        "operationId": "getEquipmentByWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DownHoleEquipmentEntity"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DownHoleEquipmentEntity"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DownHole Equipment"
        ],
        "summary": "Delete equipment records by well source id",
        "operationId": "deleteEquipmentBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/deviationSurvey/{sourceId}": {
      "get": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Fetch a single deviation survey record by source id",
        "operationId": "getDeviationSurveyBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationSurvey"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationSurvey"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Delete a deviation survey by its source id",
        "operationId": "deleteDeviationSurveyBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/deviationSurvey": {
      "get": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Fetch deviation surveys by wellbore source id",
        "operationId": "getDeviationSurveyBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Delete deviation surveys by well source id",
        "operationId": "deleteDeviationSurveysBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/casing/{sourceId}": {
      "get": {
        "tags": [
          "Casing"
        ],
        "summary": "Get a casing record by source id",
        "operationId": "getCasingBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Casing"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Casing"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Casing"
        ],
        "summary": "Delete casing records by source id",
        "operationId": "deleteCasingBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/casing": {
      "get": {
        "tags": [
          "Casing"
        ],
        "summary": "Fetch casing records by source wellbore id",
        "operationId": "getCasingBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Casing"
        ],
        "summary": "Delete casing records by well source id",
        "operationId": "deleteCasingBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}": {
      "get": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Get wellbores by wellbore source id",
        "operationId": "getWellborBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wellbore"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Wellbore"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Delete a single wellbore",
        "description": "This operation will delete a single wellbore by its uwi and wellbore index. \n            This operation will also cascade delete all dependent wellbore entities that have been added\n            to the system.\n            ",
        "operationId": "deleteWellboreBySource",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore": {
      "get": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Get wellbores by well source id",
        "operationId": "getWellboresBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wellbore"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Wellbore"
        ],
        "summary": "Delete a single wellbore",
        "operationId": "deleteWellboreBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/tubing": {
      "get": {
        "tags": [
          "Tubing"
        ],
        "summary": "Fetch tubing records by source well id",
        "operationId": "getTubingForSourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tubing"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tubing"
        ],
        "summary": "Delete tubing records by well source id",
        "operationId": "deleteTubingBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/tsconfig": {
      "get": {
        "tags": [
          "TimeSeriesConfiguration"
        ],
        "summary": "Get time series configuration by well source id",
        "operationId": "findTimeSeriesConfigurationBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSeries"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSeries"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TimeSeriesConfiguration"
        ],
        "summary": "Delete time series configuration by well source id",
        "operationId": "deleteTimeSeriesBySourceWellId",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/ts": {
      "get": {
        "tags": [
          "TimeSeriesHistory"
        ],
        "summary": "Get time series configuration by well source id",
        "operationId": "getTimeSeriesHistoryByWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSeriesHistory"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSeriesHistory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/timeseries/{sourceTimeSeriesId}/ts": {
      "get": {
        "tags": [
          "TimeSeriesHistory"
        ],
        "summary": "Get time series configuration by well source id",
        "operationId": "getTimeSeriesHistoryByWell_1",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTimeSeriesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSeriesHistory"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSeriesHistory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/srp": {
      "get": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Fetch sucker rod pump records by source well id",
        "operationId": "getSuckerRodPumpForSourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuckerRodPump"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SuckerRodPump"
        ],
        "summary": "Delete sucker rod pump records by well source id",
        "operationId": "deleteSuckerRodPumpBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/glv": {
      "get": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Fetch gas lift valve records by source well id",
        "operationId": "getGLVsForWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GasLiftValve"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Delete tubing records by well source id",
        "operationId": "deleteGasLiftValveBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/formation": {
      "get": {
        "tags": [
          "Formation"
        ],
        "summary": "Fetch formations by well ",
        "operationId": "getFormationsByWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formation"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Formation"
        ],
        "summary": "Delete all formations for a given well regardless of wellbore",
        "operationId": "deleteFormationsBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/esp": {
      "get": {
        "tags": [
          "ESP"
        ],
        "summary": "Fetch tubing records by source well id",
        "operationId": "getESPsForWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Esp"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ESP"
        ],
        "summary": "Delete esp records by well source id",
        "operationId": "deleteEspBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/equipment": {
      "get": {
        "tags": [
          "DownHole Equipment"
        ],
        "summary": "Fetch equipment by well ",
        "operationId": "getEquipmentByWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DownHoleEquipmentEntity"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DownHoleEquipmentEntity"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DownHole Equipment"
        ],
        "summary": "Delete all equipments for a given well regardless of wellbore",
        "operationId": "deleteEquipmentBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/deviationSurvey": {
      "get": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Fetch deviation surveys by well source i",
        "operationId": "getDeviationSurveyBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviationSurvey"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Deviation Survey"
        ],
        "summary": "Delete casing records by well source id",
        "operationId": "deleteDeviationSurveysBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/casing": {
      "get": {
        "tags": [
          "Casing"
        ],
        "summary": "Fetch casing records by source well id",
        "operationId": "getCasingBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Casing"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Casing"
        ],
        "summary": "Delete casing records by well source id",
        "operationId": "deleteCasingBySourceWell",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceId}": {
      "get": {
        "tags": [
          "Well"
        ],
        "summary": "Retrieve a single well by its source id",
        "operationId": "getWellBySource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Well"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Well"
        ],
        "summary": "Delete Single Well ",
        "operationId": "deleteWellBySource",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/daily/{uwi}": {
      "get": {
        "tags": [
          "Daily Production"
        ],
        "summary": "Fetch Daily Production Records",
        "operationId": "getDaily",
        "parameters": [
          {
            "name": "uwi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyProduction"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Daily Production"
        ],
        "summary": "Delete Daily Production",
        "operationId": "deleteDaily",
        "parameters": [
          {
            "name": "uwi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/allocation/{uwi}": {
      "get": {
        "tags": [
          "Allocation"
        ],
        "summary": "Fetch Allocation Records",
        "operationId": "getAllocation",
        "parameters": [
          {
            "name": "uwi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllocationEntity"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllocationEntity"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Allocation"
        ],
        "summary": "Delete Allocation",
        "operationId": "deleteAllocation",
        "parameters": [
          {
            "name": "uwi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/production/well/{sourceWellId}/wellbore/{sourceWellboreId}/tubing/{sourceTubingId}/glv": {
      "delete": {
        "tags": [
          "GasLiftValve"
        ],
        "summary": "Delete gas lift valve records by well source id",
        "operationId": "deleteGLVBySourceWellbore",
        "parameters": [
          {
            "name": "sourceWellId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceWellboreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTubingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WellInput": {
        "required": [
          "fluid",
          "lat",
          "liftType",
          "lon",
          "name",
          "sourceId",
          "type",
          "uwi"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "uwi": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "group1": {
            "type": "string",
            "nullable": true
          },
          "group2": {
            "type": "string",
            "nullable": true
          },
          "group3": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "default": "PRODUCER",
            "enum": [
              "PRODUCER",
              "INJECTOR"
            ]
          },
          "fluid": {
            "type": "string",
            "default": "OIL",
            "enum": [
              "OIL",
              "GAS",
              "WATER"
            ]
          },
          "liftType": {
            "type": "string",
            "default": "NATURAL_FLOW",
            "enum": [
              "NATURAL_FLOW",
              "GAS_LIFT",
              "ROD_PUMP",
              "ESP",
              "PLUNGER_LIFT",
              "GAS_ASSISTED_PLUNGER_LIFT"
            ]
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lon": {
            "type": "number",
            "format": "double"
          },
          "mudLine": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "Well": {
        "required": [
          "fluid",
          "lat",
          "liftType",
          "lon",
          "name",
          "sourceId",
          "type",
          "uwi",
          "xid"
        ],
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "format": "uuid"
          },
          "sourceId": {
            "type": "string"
          },
          "uwi": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "group1": {
            "type": "string",
            "nullable": true
          },
          "group2": {
            "type": "string",
            "nullable": true
          },
          "group3": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "default": "PRODUCER",
            "enum": [
              "PRODUCER",
              "INJECTOR"
            ]
          },
          "fluid": {
            "type": "string",
            "default": "OIL",
            "enum": [
              "OIL",
              "GAS",
              "WATER"
            ]
          },
          "liftType": {
            "type": "string",
            "default": "NATURAL_FLOW",
            "enum": [
              "NATURAL_FLOW",
              "GAS_LIFT",
              "ROD_PUMP",
              "ESP",
              "PLUNGER_LIFT",
              "GAS_ASSISTED_PLUNGER_LIFT"
            ]
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lon": {
            "type": "number",
            "format": "double"
          },
          "mudLine": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "WellboreInput": {
        "required": [
          "sourceId",
          "sourceWellId"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "sourceWellId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
[...]
