{"openapi":"3.0.1","info":{"title":"Production API","description":"API exposing endpoints for managing well headers and daily production.","termsOfService":"http://swagger.io/terms/","license":{"name":"Apache 2.0","url":"http://springdoc.org"},"version":"1.0"},"servers":[{"url":"https://testawsapi.onxecta.com","description":"AWS Cloud API Endpoint"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Well Header","description":"Query or mutation well header data"},{"name":"Daily Production","description":"Query or mutation daily production data"}],"paths":{"/api/production/wellheaders":{"get":{"tags":["Well Header"],"summary":"Fetch Multiple Well Headers","description":"This operation offers an optional paging facility if desired.","operationId":"productionGetWellHeaders","parameters":[{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WellHeader"}}}}}}},"post":{"tags":["Well Header"],"summary":"Bulk Add / Update WellHeader Data","operationId":"productionAddUpdateWellHeaders","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WellHeaderInput"}}}},"required":true},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WellHeader"}}}}}}}},"/api/production/daily":{"post":{"tags":["Daily Production"],"summary":"Bulk Add / Update Daily Production Data","operationId":"productionAddUpdateDaily","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DailyProductionInput"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DailyProduction"}}},"application/x-ndjson":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DailyProduction"}}}}}}}},"/api/production/wellheader/{uwi}":{"get":{"tags":["Well Header"],"summary":"Fetch Single Well Header","operationId":"productionGetWellHeader","parameters":[{"name":"uwi","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WellHeader"}}}}}},"delete":{"tags":["Well Header"],"summary":"Delete Single Well Header","operationId":"productionDeleteWellHeader","parameters":[{"name":"uwi","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/production/daily/{uwi}":{"get":{"tags":["Daily Production"],"summary":"Fetch Daily Production Records","operationId":"productionGetDaily","parameters":[{"name":"uwi","in":"path","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DailyProduction"}}},"application/x-ndjson":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DailyProduction"}}}}}}}},"/api/production/daily/{xid}":{"delete":{"tags":["Daily Production"],"summary":"Delete Daily Production Record","operationId":"productionDeleteDaily","parameters":[{"name":"xid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"WellHeaderInput":{"required":["field","fluid","group","lat","liftType","lon","name","route","type","uwi"],"type":"object","properties":{"uwi":{"maxLength":16,"minLength":0,"type":"string"},"name":{"maxLength":50,"minLength":0,"type":"string"},"group":{"maxLength":50,"minLength":0,"type":"string"},"field":{"maxLength":50,"minLength":0,"type":"string"},"route":{"maxLength":5,"minLength":0,"type":"string"},"type":{"type":"string","enum":["PRODUCER","INJECTOR"]},"fluid":{"type":"string","enum":["OIL","GAS","WATER"]},"liftType":{"type":"string","enum":["NATURAL_FLOW","GAS_LIFT","ELECTRIC_SUBMERSIBLE_PUMP","ROD_LIFT","PLUNGER"]},"lat":{"type":"number","format":"double"},"lon":{"type":"number","format":"double"}}},"WellHeader":{"required":["field","fluid","group","lat","liftType","lon","name","route","type","uwi","version"],"type":"object","properties":{"xid":{"type":"string","format":"uuid"},"uwi":{"maxLength":16,"minLength":0,"type":"string"},"name":{"maxLength":50,"minLength":0,"type":"string"},"group":{"maxLength":50,"minLength":0,"type":"string"},"field":{"maxLength":50,"minLength":0,"type":"string"},"route":{"maxLength":50,"minLength":0,"type":"string"},"type":{"type":"string","enum":["PRODUCER","INJECTOR"]},"fluid":{"type":"string","enum":["OIL","GAS","WATER"]},"liftType":{"type":"string","enum":["NATURAL_FLOW","GAS_LIFT","ELECTRIC_SUBMERSIBLE_PUMP","ROD_LIFT","PLUNGER"]},"lat":{"type":"number","format":"double"},"lon":{"type":"number","format":"double"},"createdAt":{"type":"string","format":"date-time","readOnly":true},"createdBy":{"type":"string","readOnly":true},"updatedAt":{"type":"string","format":"date-time","readOnly":true},"updatedBy":{"type":"string","readOnly":true},"version":{"type":"integer","format":"int32","readOnly":true}}},"DailyProductionInput":{"required":["casingPressure","choke","datetime","downtimeCode","downtimeHours","gasInjectionRate","gasOilRatio","gasProductionRate","liquidRate","oilProductionRate","operatingFrequency","strokesPerMinute","tubingPressure","uwi","waterCut","waterProductionRate"],"type":"object","properties":{"uwi":{"type":"string"},"datetime":{"type":"string","format":"date-time"},"liquidRate":{"type":"number","format":"double"},"oilProductionRate":{"type":"number","format":"double"},"gasProductionRate":{"type":"number","format":"double"},"waterProductionRate":{"type":"number","format":"double"},"choke":{"type":"number","format":"double"},"gasOilRatio":{"type":"number","format":"double"},"waterCut":{"type":"number","format":"double"},"tubingPressure":{"type":"number","format":"double"},"casingPressure":{"type":"number","format":"double"},"gasInjectionRate":{"type":"number","format":"double"},"operatingFrequency":{"type":"number","format":"double"},"strokesPerMinute":{"type":"number","format":"double"},"downtimeHours":{"type":"number","format":"double"},"downtimeCode":{"type":"integer","format":"int32"}}},"DailyProduction":{"required":["casingPressure","choke","datetime","downtimeCode","downtimeHours","gasInjectionRate","gasOilRatio","gasProductionRate","liquidRate","oilProductionRate","operatingFrequency","strokesPerMinute","tubingPressure","uwi","version","waterCut","waterProductionRate"],"type":"object","properties":{"xid":{"type":"string","format":"uuid"},"uwi":{"type":"string"},"datetime":{"type":"string","format":"date-time"},"liquidRate":{"type":"number","format":"double"},"oilProductionRate":{"type":"number","format":"double"},"gasProductionRate":{"type":"number","format":"double"},"waterProductionRate":{"type":"number","format":"double"},"choke":{"type":"number","format":"double"},"gasOilRatio":{"type":"number","format":"double"},"waterCut":{"type":"number","format":"double"},"tubingPressure":{"type":"number","format":"double"},"casingPressure":{"type":"number","format":"double"},"gasInjectionRate":{"type":"number","format":"double"},"operatingFrequency":{"type":"number","format":"double"},"strokesPerMinute":{"type":"number","format":"double"},"downtimeHours":{"type":"number","format":"double"},"downtimeCode":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time","readOnly":true},"createdBy":{"type":"string","readOnly":true},"updatedAt":{"type":"string","format":"date-time","readOnly":true},"updatedBy":{"type":"string","readOnly":true},"version":{"type":"integer","format":"int32","readOnly":true}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"x-readme":{"explorer-enabled":false,"proxy-enabled":true,"samples-enabled":true}}
